body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#table {
    display:none;
}
#upload-container {
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'Segoe UI';
    color: #1f3c44;
    margin-bottom: 25px;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    background: #8aa4ab;
    color: rgb(255,255,255);
    margin-bottom: 16px;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: none;
    background: #1f3c44;
}
#upload-container label:active {
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}

#upload-container div {
    position: relative;
    z-index: 10;
    text-align: center;
    font-weight: bold;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}
